.Main {
  text-align: center;
}

.LogoSearch {
  height: 80px;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.footer > .copyright {
    color: #888;
}

.footer {
    padding: 5px;
}

.search-bar{
    width: 350px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 15px;
    transition: width 0.2s linear;
    text-align: center;
    text-decoration: none;
    color:black;
    appearance:none;
    outline: none;

}

.limit {
    width: 70px;
}

.title {
    font-size: 20px;
    margin-bottom: 30px;
}

.title-hidden {
    transition: top 0.3s ease-in;
    display:none;
}

.search-bar:focus {
    width: 400px;
    border-top: 1px solid #db0a5b;
    border-bottom: 1px solid #db0a5b;
    outline: none;
    text-align: center;
}

.limit:focus {
    width: 100px;
}

.main-not-active {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    transition: top 0.1s linear;
}

.main-active {
    position: relative;
    top: 10%;
    transform: translateY(-50%);
    transition: top 0.3s ease-in;
}

.hidden {
    display: none;
}
